<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Trigger feedback dialog test page</title>

        <link rel="stylesheet" href="../../../../src/components/feedback/css/feedback.css" />

        <script src="../../../../src/lib/infusion/infusion-custom.js"></script>
        <script src="../../../../src/components/feedback/js/bindDialog.js"></script>
    </head>

    <body id="body">
        <!-- Test HTML -->
        <ul class="gpiic-bindDialog gpii-feedback-feedbackControls">
            <li class="gpiic-button gpii-icon gpii-icon-happy gpii-feedback-button"></li>
            <li class="gpii-icon gpii-icon-sad gpii-feedback-button"></li>
        </ul>

        <script type="text/javascript">
            var that = gpii.metadata.feedback.bindDialog(".gpiic-button", {
                containerIdentifier: ".gpiic-button"
                // listeners: {
                //     onReady: function (that) {
                //         that.applier.change("audio", "available");
                //         that.applier.change("dialogue", true);
                //         that.applier.change("audio", "unavailable");
                //     }
                // }
            });
        </script>
    </body>
</html>
