<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Feedback tests</title>

        <link rel="stylesheet" media="screen" href="../../../lib/qunit/qunit/css/qunit.css" />

        <script src="../../../lib/qunit/qunit/js/qunit.js"></script>
        <script src="../../../../src/lib/infusion/infusion-custom.js"></script>
        <script src="../../../lib/infusion/jqUnit/js/jqUnit.js"></script>
        <script src="../../../lib/infusion/utils/js/IoCTestUtils.js"></script>

        <script src="../../../../src/components/feedback/js/bindDialog.js"></script>
        <script src="../../../../src/components/feedback/js/matchFeedback.js"></script>
        <script src="../../../../src/components/feedback/js/feedback.js"></script>
        <script src="../js/feedbackTests.js"></script>
    </head>

    <body id="body">
        <h1 id="qunit-header">Feedback tests</h1>
        <h2 id="qunit-banner"></h2>
        <div id="qunit-testrunner-toolbar"></div>
        <h2 id="qunit-userAgent"></h2>
        <ol id="qunit-tests"></ol>

        <!-- Test HTML -->
        <section class="gpiic-feedback" style="display:none;"></section>

    </body>
</html>
