<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Feedback loader tests</title>

        <link rel="stylesheet" media="screen" href="../../../lib/infusion/lib/qunit/css/qunit.css" />

        <script src="../../../../src/lib/infusion/infusion-custom.js"></script>
        <script src="../../../lib/infusion/lib/qunit/js/qunit.js"></script>
        <script src="../../../lib/infusion/test-core/jqUnit/js/jqUnit.js"></script>
        <script src="../../../lib/infusion/test-core/utils/js/IoCTestUtils.js"></script>

        <script src="../../../../src/lib/pouchDB/pouchdb.js"></script>
        <script src="../../../../src/components/pouchDBDataSource/js/pouchDBDataSource.js"></script>
        <script src="../../../../src/components/feedback/js/bindDialog.js"></script>
        <script src="../../../../src/components/feedback/js/baseDialogContent.js"></script>
        <script src="../../../../src/components/feedback/js/matchConfirmation.js"></script>
        <script src="../../../../src/components/feedback/js/mismatchDetails.js"></script>
        <script src="../../../../src/components/feedback/js/feedback.js"></script>
        <script src="../../../../src/components/feedback/js/feedbackLoader.js"></script>
        <script src="../js/feedbackLoaderTests.js"></script>
    </head>

    <body id="body">
        <h1 id="qunit-header">Feedback loader tests</h1>
        <h2 id="qunit-banner"></h2>
        <div id="qunit-testrunner-toolbar"></div>
        <h2 id="qunit-userAgent"></h2>
        <ol id="qunit-tests"></ol>

        <!-- Test HTML -->
        <div class="gpiic-feedbackLoader" style="display:none;"></div>

        <div class="gpiic-feedback">
            <div class="gpii-feedback-preferences">
                <!-- Preference Icons -->
                <ul class="gpii-feedback-preferencesStatus">
                    <li>
                        <a href="#_" class="gpii-icon gpii-icon-text gpii-icon-available"></a>
                    </li>
                    <li>
                        <a href="#_" class="gpii-icon gpii-icon-captions gpii-icon-available"></a>
                    </li>
                    <li>
                        <a href="#_" class="gpii-icon gpii-icon-transcript gpii-icon-partial"></a>
                    </li>
                    <li>
                        <a href="#_" class="gpii-icon gpii-icon-audio gpii-icon-unavailable"></a>
                    </li>
                </ul>
            </div>

            <div class="gpii-feedback-controls">
                <!-- Feedback -->
                <ul class="gpii-feedback-feedbackControls">
                    <li class="gpiic-matchConfirmation-button gpii-feedback-button">
                        <a href="#_" class="gpiic-icon gpii-icon gpii-icon-matchConfirmation"></a>
                    </li>
                    <li class="gpiic-mismatchDetails-button gpii-feedback-button">
                        <a href="#_" class="gpiic-icon gpii-icon gpii-icon-mismatchDetails"></a>
                    </li>
                </ul>

                <!-- Requests -->
                <ul class="gpii-feedback-requestsControls">
                    <li class="gpii-feedback-button">
                        <a href="#_" class="gpii-icon gpii-icon-request"></a>
                    </li>
                </ul>
            </div>
        </div>

    </body>
</html>
