<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>PouchDB DataSource tests</title>

        <link rel="stylesheet" media="screen" href="../../../lib/infusion/lib/qunit/css/qunit.css" />
        <link rel="stylesheet" media="screen" href="../../../../src/components/metadata/css/metadata.css" />

        <script src="../../../lib/infusion/lib/qunit/js/qunit.js"></script>
        <script src="../../../../src/lib/infusion/infusion-custom.js"></script>
        <script src="../../../lib/infusion/test-core/jqUnit/js/jqUnit.js"></script>
        <script src="../../../lib/infusion/test-core/utils/js/IoCTestUtils.js"></script>

        <script src="../../../../src/lib/pouchDB/pouchdb.js"></script>
        <script src="../../../../src/components/pouchDBDataSource/js/pouchDBDataSource.js"></script>
        <script src="../js/pouchDBDataSourceTests.js"></script>
    </head>

    <body id="body">
        <h1 id="qunit-header">PouchDB DataSource tests</h1>
        <h2 id="qunit-banner"></h2>
        <div id="qunit-testrunner-toolbar"></div>
        <h2 id="qunit-userAgent"></h2>
        <ol id="qunit-tests"></ol>
    </body>
</html>
