<!-- Preference Icons -->
<ul class="gpii-feedback-preferencesStatus">
    <li class="gpii-icon gpii-icon-text"></li>
    <li class="gpii-icon gpii-icon-captions"></li>
    <li class="gpii-icon gpii-icon-transcript"></li>
    <li class="gpii-icon gpii-icon-audio"></li>
</ul>
<!-- Requests -->
<ul class="gpii-feedback-requestsControls">
    <li class="gpii-icon gpii-icon-request gpii-feedback-button"></li>
</ul>
<!-- Feedback -->
<ul class="gpii-feedback-feedbackControls">
    <li class="gpii-icon gpii-icon-happy gpii-feedback-button"></li>
    <li class="gpii-icon gpii-icon-sad gpii-feedback-button"></li>
</ul>