<div class="gpii-feedback-preferences">
    <!-- Preference Icons -->
    <ul class="gpii-feedback-preferencesStatus">
        <li>
            <a href="#_" class="gpii-icon gpii-icon-text gpii-icon-available"></a>
        </li>
        <li>
            <a href="#_" class="gpii-icon gpii-icon-captions gpii-icon-available"></a>
        </li>
        <li>
            <a href="#_" class="gpii-icon gpii-icon-transcript gpii-icon-partial"></a>
        </li>
        <li>
            <a href="#_" class="gpii-icon gpii-icon-audio gpii-icon-unavailable"></a>
        </li>
    </ul>
</div>

<div class="gpii-feedback-controls">
    <!-- Feedback -->
    <ul class="gpii-feedback-feedbackControls">
        <li class="gpiic-matchConfirmation-button gpii-feedback-button">
            <a href="#_" class="gpiic-icon gpii-icon gpii-icon-matchConfirmation"></a>
        </li>
        <li class="gpiic-mismatchDetails-button gpii-feedback-button">
            <a href="#_" class="gpiic-icon gpii-icon gpii-icon-mismatchDetails"></a>
        </li>
    </ul>

    <!-- Requests -->
    <ul class="gpii-feedback-requestsControls">
        <li class="gpii-feedback-button">
            <a href="#_" class="gpii-icon gpii-icon-request"></a>
        </li>
    </ul>
</div>
