@font-face {
    font-family: 'RobotoSlab';
    src: url('fonts/RobotoSlab-Bold.ttf');
}

@font-face {
    font-family: 'OpenSans';
    src: url('fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: "OpenSans";
    src: url('fonts/OpenSans-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'FloeMetadataIcons';
    src:url('../../src/css/fonts/floe-metadata.eot?#iefix') format('embedded-opentype'),
         url('../../src/css/fonts/floe-metadata.eot'),
         url('../../src/css/fonts/floe-metadata.ttf');
}

.gpii-feedbackDemo-demo {
    font-family: "OpenSans","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    background-color: #F4F4E9;
    min-width:38rem;
}

.gpii-feedbackDemo-body {
    margin-bottom: 4rem;
    padding: 0 2rem;
}

.gpii-feedbackDemo-demo a {
    color: #2C6FB7;
}

.gpii-feedbackDemo-demo a.disabled {
    pointer-events: none;
    cursor: default;
}

.gpii-feedbackDemo-demo .button {
    color: #fff;
    background-color: #2C6FB7;
}

.gpii-feedbackDemo-demo .button:hover {
    background-color: #3F8FD8;
}

/* Header area */

.gpii-feedbackDemo-header {
    background-color: #fff;
    margin-top: 3em;
}

.gpii-feedbackDemo-header-logo {
    margin: 0.5rem 0.5rem 0 0;
}

.gpii-feedbackDemo-header-logo img {
    width: 7rem;
}

.gpii-feedbackDemo-header-title {
    padding-top: 1rem;
    margin-left: 1rem;
}

.gpii-feedbackDemo-header-title h1 {
    text-transform: uppercase;
    font-size: 2.3rem;
}

.gpii-feedbackDemo-header-title .gpii-feedbackDemo-header-tagline {
    text-transform: uppercase;
}

.gpii-feedbackDemo-page-title {
    font-family: 'RobotoSlab';
    font-size: 2rem;
    margin: 4rem 0 1rem 0;
}

/** sticky bar area */

.gpii-feedbackDemo-top-bar-Container {
    border-bottom: 1px solid #888;
    box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.75);
}

.gpii-feedbackDemo-demo .top-bar,
.gpii-feedbackDemo-demo .top-bar-section li:not(.has-form) a:not(.button) {
    background-color: #fff;
}

.gpii-feedbackDemo-demo .top-bar-section ul li a {
    color: #000;
}

.gpii-feedbackDemo-demo .top-bar-section li:not(.has-form) a:not(.button):hover,
.gpii-feedbackDemo-demo .top-bar-section li:not(.has-form) a:not(.button):focus {
    background-color: #E7E7E7;
    color: #000;
}

/** icons **/
.gpii-icon:before {
    font-family: 'FloeMetadataIcons';
    color: #fff;
    font-size: 1.5em;
    padding-left: 0.5em;
    padding-top: 0.3em;
    line-height:1.5em;
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
    behavior: url(PIE.htc);
    width: 2em;
    height: 2em;
    display: inline-block;
    background: #249681;
    font-weight: normal;
    vertical-align: middle;
}

.gpii-icon-text:before {
    content: "\e601";
}

.gpii-icon-captions:before {
    content: "\e602";
}

.gpii-icon-transcript:before {
    content: "\e603";
}

.gpii-icon-audio:before {
    content: "\e604";
}

.gpii-happy:before {
    content: "\e610";
}

.gpii-sad:before {
    content: "\e611";
}

.gpii-request:before {
    content: "\e612";
}
