/* CSS Document */
@font-face {
    font-family: 'OpenSans-Regular';
    src: url('./fonts/OpenSans-Regular.ttf');
}

/* webpage background */
body {
    background-color: #e8f3f5;
    font-family: 'OpenSans-Regular';
}

.fl-demo header {
    font-size: 1.8em;
    margin-bottom: 0;
    background-color: #006598;
}

/* logo panel background and text */
.fl-demo .fl-logo-text1 {
    color: #fff;
}

.fl-demo .fl-logo-text2 {
    background-color: #ed5a24;
    color: #fff;
    font-size: 0.8em;
    padding: 0 0.2em;
}

/* html viewer panel */
.fl-demo .fl-markupViewer {
    background-color: #fff;
    border-color: #E2E2E2;
}

.fl-demo .fl-markupViewer code {
    background-color: inherit;
}

.fl-demo .fl-HTML-viwer-title {
    font-size: 1.6em;
}
