@font-face {
    font-family: 'RobotoSlab';
    src: url('fonts/RobotoSlab-Bold.ttf');
}

@font-face {
    font-family: 'OpenSans';
    src: url('./fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: "OpenSans";
    src: url("fonts/OpenSans-Bold.ttf");
    font-weight: bold;
}

.gpii-metadata-demo {
    font-family: "OpenSans";
    background-color: #F4F4F4;
    min-width:31rem;
}


/* Header area */

.gpii-metadata-header {
    background-color: #fff;
}

.gpii-metadata-header-logo {
    margin: 0.5rem 0.5rem 0 0;
}

.gpii-metadata-header-logo img {
    width: 7rem;
}

.gpii-metadata-header-title {
    padding-top: 1rem;
    margin-left: 1rem;
}

.gpii-metadata-header-title h1 {
    text-transform: uppercase;
    font-size: 2.3rem;
}

.gpii-metadata-header-title .gpii-metadata-header-tagline {
    text-transform: uppercase;
}

.gpii-metadata-header-restart {
    margin: 1rem 0;
}

/* Landing Page */

.gpii-metadata-resource {
    background-color: #fff;
    border-top: 0.1rem solid #81D0EC;
    height: 10rem;
}


.gpii-metadata-resource-first {
    border-top: 0.3rem solid #81D0EC;
}

.gpii-metadata-editColumn {
    background-color: #EAF2F4;
    height: 100%;
    padding-top: 4rem;
}

.gpii-metadata-resources-title {
    font-weight: bold;
    font-size: 2rem;
}

.gpii-metadata-resource-title {
    font-weight: bold;
    font-size: 1rem;
}

/* Tabs */
.gpii-metadata-tab-list {
    margin-right: 2rem;
    margin-bottom: 0; 
}

.gpii-metadata-tab-list a {
    text-transform: lowercase;
    height: 2.9rem;
    padding: 0.7rem;
    color: #000;
    background-color: #B4C7CC;
    min-width: 10rem;
}

.gpii-metadata-tab-list li {
    margin-left: 0.5rem;
}

/* Tab content visibility */

.gpii-metadata-resourceEditor {
    display:none;
}

.gpii-metadata-resourceEditor-active .gpii-metadata-resourceEditor{
    display:block;
}

.gpii-metadata-previewContent {
    display:none;
}

.gpii-metadata-previewContent-active .gpii-metadata-previewContent{
    display:block;
}


/* Active Tab  */
.gpii-metadata-preview-active .gpii-metadata-tab-list .gpii-metadata-tab-preview a,
.gpii-metadata-resourceEditor-active .gpii-metadata-tab-list .gpii-metadata-tab-edit a { /* Active Tab Styling */
    background-color: #81D0EC;
    height: 3rem;
    font-weight: bold;
}




/* Active Tab - Output HTML */

.gpii-metadata-outputHTML .gpii-metadata-tab-list .gpii-metadata-tab-outputHTML a { /* Active Tab Styling */
    background-color: #81D0EC;
    height: 3rem;
    font-weight: bold;
}


/* Resource Editor Toolbar */

.gpii-metadata-resourceEditor .gpii-metadata-resourceEditor-headRow {
    background-color: #68B8CE;
}

.gpii-metadata-resourceEditor .gpii-metadata-resourceEditor-headRow .columns{
    padding: 0;    
}

.gpii-metadata-resourceEditor .gpii-metadata-resourceEditor-toolbar {
    padding: 0.7rem;
    border-right: 0.1rem solid #fff;
    background-color: #81D0EC;
}

.gpii-metadata-resourceEditor .gpii-metadata-resourceEditor-toolbar-url {
    display: inline-block;
}

.gpii-metadata-resourceEditor .show-for-small-only .gpii-metadata-resourceEditor-metadataPanel-header {
    background-color: #68B8CE; /* This background color is specified twice because of the different position
    for small-only and medium-and-up styles. */
}
    
.gpii-metadata-resourceEditor .gpii-metadata-resourceEditor-metadataPanel-header h3{
    font-family: RobotoSlab;
    color: #fff;
    padding-top: 1rem;
}

.gpii-metadata-resourceEditor .show-for-small-only .gpii-metadata-resourceEditor-metadataPanel-header h3 {
    padding-bottom: 1rem;
    margin: 0;
}

/* Resource Editor text editor area */

.gpii-metadata-resourceEditor .gpii-metadata-resourceEditor-editor-container .columns{
    height: 25rem;
    padding: 0;
}

.gpii-metadata-resourceEditor .gpii-metadata-resourceEditor-editor-container .show-for-small-only.columns {
    /* for small screens, remove the height from the column header */
    height: inherit;
}

.gpii-metadata-previewContent-active .gpii-metadata-previewContent,
.gpii-metadata-resourceEditor .gpii-metadata-resourceEditor-metadataPanel,
.gpii-metadata-resourceEditor .gpii-metadata-resourceEditor-textEditor {
    height: 100%;
    padding: 1.5rem;
    overflow-y: auto;
}

.gpii-metadata-resourceEditor .gpii-metadata-resourceEditor-textEditor {
    background-color: #fff;
    overflow: auto;
}

.gpii-metadata-resourceEditor .gpii-metadata-resourceEditor-metadataPanel {
    background-color: #e7e7e7;
}

/* Preview Content view */
.gpii-metadata-previewContent-active .gpii-metadata-previewContent {
    background-color: #fff;
}
