/** dialogs **/
.gpii-feedback-dialog {
    background-color: #fff;
    border: 5px solid #B2B2B2;
}

/* jQuery UI Dialog Overrides */

.gpii-feedback-dialog.ui-dialog {
    /* prevent from scrolling */
    position: fixed;
    /* to place over feedback tool */
    z-index: 999;
}

.gpii-feedback-dialog .ui-dialog-titlebar {
    display: none;
}

.gpii-feedback-dialog.ui-dialog {
    position: fixed;
}

/* Contrast themes */

.fl-theme-bw .gpii-feedback-dialog.ui-widget,
.fl-theme-wb .gpii-feedback-dialog.ui-widget,
.fl-theme-by .gpii-feedback-dialog.ui-widget,
.fl-theme-yb .gpii-feedback-dialog.ui-widget,
.fl-theme-lgdg .gpii-feedback-dialog.ui-widget {
    /* Overriding theme files */
    font-family: inherit;
    font-size: inherit;
    border-radius: 0px;
    border-width: 5px;
}
