@font-face {
    font-family: 'FloeMetadataIcons';
    src:url('../../../fonts/floe-metadata.eot?#iefix') format('embedded-opentype'),
         url('../../../fonts/floe-metadata.eot'),
         url('../../../fonts/floe-metadata.ttf');
}

.gpii-feedback {
    width: 100%;
    position: fixed;
    top: 0px;
    background-color: #fff;
    border-bottom: 5px solid #B2B2B2;
    z-index: 999;
}

.gpii-feedback li {
    display: inline-block;
    list-style-type: none;
}

.gpii-feedback-preferences {
    float: left;
}

.gpii-feedback-controls {
    float: right;
}

.gpii-feedback-controls ul {
    display: inline-block;
}

.gpii-feedback-requestsControls {
    border-left: 2px solid #E5E5E5;
}

/* icons */

.gpii-icon {
    text-decoration: none;
}

.gpii-icon:before {
    font-family: 'FloeMetadataIcons';
    color: #fff;
    font-size: 1.5rem;
    border-radius: 50%;
    border: 2px solid transparent;
    padding: 0.5rem;
    font-weight: normal;
    text-align: center;
    opacity: 1;
}

.gpii-icon.gpii-icon-available:before {
    background: #66cc99;
}

.gpii-icon.gpii-icon-partial:before {
    color: #66cc99;
    border-color: #66cc99;
}

.gpii-icon.gpii-icon-unavailable:before {
    color: #B2B2B2;
    border-color: #B2B2B2;
}

.gpii-icon.gpii-icon-unavailable:after {
    content: "X";
    color: #fff;
    font-size: 0.5rem;
    border-radius: 50%;
    padding: 0 0.2rem;
    background-color: #B2B2B2;
    font-weight: bold;
    text-align: center;
    opacity: 1;
    height: 0.5rem;
    position: relative;
    bottom: -0.5rem;
    left: -0.86rem;
}

.gpii-feedback-button .gpii-icon:before {
    color: #6699cc;
    border-color: #6699cc;
}

/* IE 11 hack to correct presentation of the unavailable badge */
_:-ms-fullscreen, .gpii-icon.gpii-icon-unavailable:after {
    padding: 0.1rem 0.2rem;
    bottom: -0.45rem;
}

.gpii-icon-text:before {
    content: "\e601";
}

.gpii-icon-captions:before {
    content: "\e602";
}

.gpii-icon-transcript:before {
    content: "\e603";
}

.gpii-icon-audio:before {
    content: "\e604";
}

.gpii-icon-matchConfirmation:before {
    content: "\e610";
}

.gpii-icon-mismatchDetails:before {
    content: "\e611";
}

.gpii-icon-request:before {
    content: "\e612";
}

.gpii-icon-active .gpii-icon:before {
    color: #fff;
    background-color: #6699cc;
}

.gpii-feedback .gpii-icon-arrow {
    margin-right: -2.21875rem;
    margin-top: -1.88rem;
}

/* remove default focus styling */
.gpii-feedback .gpii-feedback-buttonFocus .gpii-icon:focus {
    outline: none;
}

.gpii-feedback .gpii-icon-arrow:after {
    bottom: -2rem;
    left: -2.5rem;
    border: 1rem solid transparent;
    border-bottom-color: #6699cc;
    content: "";
    position: relative;
    pointer-events: none;
    display: inline-block;
}

.gpii-feedback-buttonHover:before {
    border-top: 0.313rem solid #F6D962;
    content: "";
    width: 2.625rem;
    position: fixed;
    margin-left: 0;
    top: 0;
}

.gpii-feedback-buttonFocus:before {
    border-top: 4.438rem solid #F6D962;
    content: "";
    width: 3.625rem;
    position: fixed;
    top: 0;
    margin-left: -0.5rem;
    z-index: -1;
}

.gpii-feedback-dialog {
    background-color: #fff;
    border: 5px solid #6699cc;
}

/* jQuery UI Overrides */

.gpii-feedback-dialog.ui-dialog {
    /* prevent from scrolling */
    position: fixed;
    /* to place over feedback tool */
    z-index: 999;
}

.gpii-feedback-dialog .ui-dialog-titlebar {
    display: none;
}

.gpii-feedback-dialog.ui-dialog {
    position: fixed;
}

.gpii-feedback-tooltip.ui-tooltip {
    color: #fff;
    background-color: #6699cc;
    box-shadow: none;
    position: fixed;
}

.gpii-feedback-dialog .gpii-list-unstyled {
    list-style: none;
}

.gpii-feedback-dialog .gpii-list-unstyled li {
    display: block;
}

.gpii-feedback-dialog .gpii-list-unstyled label {
    display: inline;
}

.gpii-feedback-dialog .gpii-list-unstyled input {
    margin: 0;
}

.gpii-feedback-dialog .gpii-other-feedback {
    background-color: #e5e4e2;
}

.gpii-mismatchDetails-buttons {
    float: right;
}

.gpii-mismatchDetails-submit {
    margin-left: 1rem;
}

/* Place holder text color */
.gpii-feedback-dialog ::-webkit-input-placeholder { /* WebKit browsers */
    color: #000;
}
.gpii-feedback-dialog :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #000;
    opacity: 1;
}
.gpii-feedback-dialog ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #000;
    opacity: 1;
}
.gpii-feedback-dialog :-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #000;
}

/* Contrast themes */

.fl-theme-bw .gpii-feedback-dialog.ui-widget,
.fl-theme-bw .gpii-feedback-tooltip.ui-widget,
.fl-theme-wb .gpii-feedback-dialog.ui-widget,
.fl-theme-wb .gpii-feedback-tooltip.ui-widget,
.fl-theme-by .gpii-feedback-dialog.ui-widget,
.fl-theme-by .gpii-feedback-tooltip.ui-widget,
.fl-theme-yb .gpii-feedback-dialog.ui-widget,
.fl-theme-yb .gpii-feedback-tooltip.ui-widget,
.fl-theme-lgdg .gpii-feedback-dialog.ui-widget,
.fl-theme-lgdg .gpii-feedback-tooltip.ui-widget {
    /* Overriding theme files */
    font-family: inherit;
    font-size: inherit;
    border-radius: 0px;
    border-width: 5px;
}

.fl-theme-bw .gpii-feedback-controls,
.fl-theme-bw .gpii-feedback-controls *,
.fl-theme-wb .gpii-feedback-controls,
.fl-theme-wb .gpii-feedback-controls *,
.fl-theme-by .gpii-feedback-controls,
.fl-theme-by .gpii-feedback-controls *,
.fl-theme-yb .gpii-feedback-controls,
.fl-theme-yb .gpii-feedback-controls *,
.fl-theme-lgdg .gpii-feedback-controls,
.fl-theme-lgdg .gpii-feedback-controls * {
    /* Overriding theme files */
    background-color: transparent !important;
}

.fl-theme-bw .gpii-feedback-tooltip.ui-tooltip,
.fl-theme-wb .gpii-feedback-tooltip.ui-tooltip,
.fl-theme-by .gpii-feedback-tooltip.ui-tooltip,
.fl-theme-yb .gpii-feedback-tooltip.ui-tooltip,
.fl-theme-lgdg .gpii-feedback-tooltip.ui-tooltip {
    /* Overriding theme files */
    background-image: none;
    border-width: 0
}

.fl-theme-bw .gpii-icon:before,
.fl-theme-bw .gpii-feedback-buttonHover:before,
.fl-theme-bw .gpii-feedback-buttonFocus:before,
.fl-theme-bw .gpii-feedback-buttonFocus .gpii-icon:before,
.fl-theme-wb .gpii-icon:after,
.fl-theme-wb .gpii-icon.gpii-icon-available:before,
.fl-theme-wb .gpii-feedback-buttonFocus.gpii-icon-active .gpii-icon:before,
.fl-theme-wb .gpii-feedback-tooltip.ui-tooltip.ui-widget *,
.fl-theme-wb .gpii-feedback-tooltip.ui-tooltip.ui-widget {
    color: #000 !important;
    background-color: #fff !important;
    border-color: #000 !important;
}

.fl-theme-wb .gpii-icon:before,
.fl-theme-wb .gpii-feedback-buttonHover:before,
.fl-theme-wb .gpii-feedback-buttonFocus:before,
.fl-theme-wb .gpii-feedback-buttonFocus .gpii-icon:before,
.fl-theme-bw .gpii-icon:after,
.fl-theme-bw .gpii-icon.gpii-icon-available:before,
.fl-theme-bw .gpii-feedback-buttonFocus.gpii-icon-active .gpii-icon:before,
.fl-theme-bw .gpii-feedback-tooltip.ui-tooltip.ui-widget *,
.fl-theme-bw .gpii-feedback-tooltip.ui-tooltip.ui-widget {
    color: #fff !important;
    background-color: #000 !important;
    border-color: #fff !important;
}

.fl-theme-yb .gpii-icon:before,
.fl-theme-yb .gpii-feedback-buttonHover:before,
.fl-theme-yb .gpii-feedback-buttonFocus:before,
.fl-theme-yb .gpii-feedback-buttonFocus .gpii-icon:before,
.fl-theme-by .gpii-icon:after,
.fl-theme-by .gpii-icon.gpii-icon-available:before,
.fl-theme-by .gpii-feedback-buttonFocus.gpii-icon-active .gpii-icon:before,
.fl-theme-by .gpii-feedback-tooltip.ui-tooltip.ui-widget *,
.fl-theme-by .gpii-feedback-tooltip.ui-tooltip.ui-widget {
    color: #ffff00 !important;
    background-color: #000 !important;
    border-color: #ffff00 !important;
}

.fl-theme-by .gpii-icon:before,
.fl-theme-by .gpii-feedback-buttonHover:before,
.fl-theme-by .gpii-feedback-buttonFocus:before,
.fl-theme-by .gpii-feedback-buttonFocus .gpii-icon:before,
.fl-theme-yb .gpii-icon:after,
.fl-theme-yb .gpii-icon.gpii-icon-available:before,
.fl-theme-yb .gpii-feedback-buttonFocus.gpii-icon-active .gpii-icon:before,
.fl-theme-yb .gpii-feedback-tooltip.ui-tooltip.ui-widget *,
.fl-theme-yb .gpii-feedback-tooltip.ui-tooltip.ui-widget {
    color: #000 !important;
    background-color: #ffff00 !important;
    border-color: #000 !important;
}

.fl-theme-lgdg .gpii-icon:before,
.fl-theme-lgdg .gpii-feedback-buttonHover:before,
.fl-theme-lgdg .gpii-feedback-buttonFocus:before,
.fl-theme-lgdg .gpii-feedback-buttonFocus .gpii-icon:before {
    color: #bdbdbb !important;
    background-color: #555555 !important;
    border-color: #bdbdbb !important;
}

.fl-theme-lgdg .gpii-icon:after,
.fl-theme-lgdg .gpii-icon.gpii-icon-available:before,
.fl-theme-lgdg .gpii-feedback-buttonFocus.gpii-icon-active .gpii-icon:before,
.fl-theme-lgdg .gpii-feedback-tooltip.ui-tooltip.ui-widget *,
.fl-theme-lgdg .gpii-feedback-tooltip.ui-tooltip.ui-widget {
    color: #555555 !important;
    background-color: #bdbdbb !important;
    border-color: #555555 !important;
}

.fl-theme-bw .gpii-icon-active .gpii-icon:before {
    color: #fff !important;
    background-color: #000 !important;
}

.fl-theme-wb .gpii-icon-active .gpii-icon:before {
    color: #000 !important;
    background-color: #fff !important;
}

.fl-theme-by .gpii-icon-active .gpii-icon:before {
    color: #ff0 !important;
    background-color: #000 !important;
}

.fl-theme-yb .gpii-icon-active .gpii-icon:before {
    color: #000 !important;
    background-color: #ff0 !important;
}

.fl-theme-lgdg .gpii-icon-active .gpii-icon:before {
    color: #555555 !important;
    background-color: #bdbdbb !important;
}

.fl-theme-bw .gpii-icon-arrow:after,
.fl-theme-by .gpii-icon-arrow:after,
.fl-theme-wb .gpii-feedback-buttonFocus.gpii-icon-arrow:after,
.fl-theme-yb .gpii-feedback-buttonFocus.gpii-icon-arrow:after {
    border-bottom-color: #000 !important;
}

.fl-theme-wb .gpii-icon-arrow:after,
.fl-theme-bw .gpii-feedback-buttonFocus.gpii-icon-arrow:after {
    border-bottom-color: #fff !important;
}

.fl-theme-yb .gpii-icon-arrow:after,
.fl-theme-by .gpii-feedback-buttonFocus.gpii-icon-arrow:after {
    border-bottom-color: #ff0 !important;
}

.fl-theme-lgdg .gpii-icon-arrow:after,
.fl-theme-lgdg .gpii-feedback-buttonHover:after {
    border-bottom-color: #bdbdbb !important;
}

.fl-theme-lgdg .gpii-feedback-buttonFocus.gpii-icon-arrow:after {
    border-bottom-color: #555555 !important;
}

.fl-theme-wb .gpii-feedback-dialog ::-webkit-input-placeholder {
    color: #fff !important;
}
.fl-theme-wb .gpii-feedback-dialog :-moz-placeholder {
    color: #fff !important;
}
.fl-theme-wb .gpii-feedback-dialog ::-moz-placeholder {
    color: #fff !important;
}
.fl-theme-wb .gpii-feedback-dialog :-ms-input-placeholder {
    color: #fff !important;
}

.fl-theme-yb .gpii-feedback-dialog ::-webkit-input-placeholder {
    color: #ffff00 !important;
}
.fl-theme-yb .gpii-feedback-dialog :-moz-placeholder {
    color: #ffff00 !important;
}
.fl-theme-yb .gpii-feedback-dialog ::-moz-placeholder {
    color: #ffff00 !important;
}
.fl-theme-yb .gpii-feedback-dialog :-ms-input-placeholder {
    color: #ffff00 !important;
}

.fl-theme-by .gpii-feedback-dialog ::-webkit-input-placeholder {
    color: #000 !important;
}
.fl-theme-by .gpii-feedback-dialog :-moz-placeholder {
    color: #000 !important;
}
.fl-theme-by .gpii-feedback-dialog ::-moz-placeholder {
    color: #000 !important;
}
.fl-theme-by .gpii-feedback-dialog :-ms-input-placeholder {
    color: #000 !important;
}

.fl-theme-lgdg .gpii-feedback-dialog ::-webkit-input-placeholder {
    color: #bdbdbb !important;
}
.fl-theme-lgdg .gpii-feedback-dialog :-moz-placeholder {
    color: #bdbdbb !important;
}
.fl-theme-lgdg .gpii-feedback-dialog ::-moz-placeholder {
    color: #bdbdbb !important;
}
.fl-theme-lgdg .gpii-feedback-dialog :-ms-input-placeholder {
    color: #bdbdbb !important;
}
