@font-face {
    font-family: 'RobotoSlab';
    src: url('../../css/fonts/RobotoSlab-Bold.ttf');
}

@font-face {
    font-family: 'OpenSans';
    src: url('../../css/fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: "OpenSans";
    src: url('../../css/fonts/OpenSans-Bold.ttf');
    font-weight: bold;
}

body {
    line-height: 1.6;
}

video {
    height: 18.75rem;
    width: 25rem;
}

.gpii-feedbackDemo-demo p {
    /* ensure that line-height is inherited from the body so that UIO's line spacing enactor works */
    line-height: inherit;
}

.gpii-feedbackDemo-demo {
    font-family: "OpenSans","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    background-color: #F4F4E9;
    min-width:38rem;
}

.gpii-feedbackDemo-body {
    margin-bottom: 4rem;
    padding: 0 2rem;
}

.gpii-feedbackDemo-demo a {
    color: #2C6FB7;
}

.gpii-feedbackDemo-demo a.disabled {
    pointer-events: none;
    cursor: default;
}

.gpii-feedbackDemo-demo .button {
    color: #fff;
    background-color: #2C6FB7;
}

.gpii-feedbackDemo-demo .button:hover {
    background-color: #3F8FD8;
}

/* Header area */

.gpii-feedbackDemo-header {
    background-color: #fff;
    margin-top: 4.6rem;
}

.gpii-feedbackDemo-header-logo {
    margin: 0.5rem 0.5rem 0 0;
}

.gpii-feedbackDemo-header-logo img {
    width: 7rem;
}

.gpii-feedbackDemo-header-title {
    padding-top: 1rem;
    margin-left: 1rem;
}

.gpii-feedbackDemo-header-title {
    text-transform: uppercase;
}
.gpii-feedbackDemo-header-title h1 {
    font-size: 2.3rem;
}

.gpii-feedbackDemo-page-title {
    font-family: 'RobotoSlab';
    font-size: 2rem;
    margin: 4rem 0 1rem 0;
}

/* For UI Options */

.gpii-feedbackDemo-demo .fl-prefsEditor-separatedPanel {
    /* place UIO tab below feedback tool */
    position: relative;
    top: 4.6rem;
    z-index: 1;
}

.gpii-feedbackDemo-demo .fl-panelBar.row:after {
    clear: none;
}

.gpii-feedbackDemo-demo .fl-prefsEditor-separatedPanel .fl-panelBar {
    background-color: none;
    border-bottom: none;
}

.gpii-feedbackDemo-demo .fl-prefsEditor-separatedPanel .fl-panelBar.row .fl-prefsEditor-buttons {
    margin-right: 0;
}

.gpii-feedbackDemo-demo .fl-prefsEditor-separatedPanel .fl-prefsEditor-showHide,
.gpii-feedbackDemo-demo .fl-prefsEditor-separatedPanel .fl-prefsEditor-reset {
    padding-bottom: 1.5rem;
}

.fl-theme-bw .gpii-icon:before {
    color: #000 !important;
    background-color: #fff !important;
    border-color: #000 !important;
}

.fl-theme-wb .gpii-icon:before {
    color: #fff !important;
    background-color: #000 !important;
    border-color: #fff !important;
}

.fl-theme-yb .gpii-icon:before {
    color: #ffff00 !important;
    background-color: #000 !important;
    border-color: #ffff00 !important;
}

.fl-theme-by .gpii-icon:before {
    color: #000 !important;
    background-color: #ffff00 !important;
    border-color: #000 !important;
}

.fl-theme-lgdg .gpii-icon:before {
    color: #bdbdbb !important;
    background-color: #555555 !important;
    border-color: #bdbdbb !important;
}

/* Feedback overrides caused by Foundation */

.gpii-feedback ul {
    margin: 1rem 0;
    padding: 0 0 0 2.5rem;
}

.gpii-feedback ul li {
    margin: 0;
    padding: 0 0.75rem 0 0;
}

.gpii-feedback ul.gpii-feedback-requestsControls {
    padding-right: 1rem;
    padding-left: 0.75rem;
}
