<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Audio test page</title>

        <link rel="stylesheet" media="screen" href="../../../src/components/metadata/css/metadata.css" />
        <link rel="stylesheet" media="screen" href="../../src/lib/bootstrap/css/bootstrap.min.css" />

        <script src="../../src/lib/infusion/infusion-custom.js"></script>
        <script src="../../src/js/indicator.js"></script>
        <script src="../../src/js/panel.js"></script>
        <script src="../../src/js/resourceInputPanel.js"></script>
    </head>

    <body id="body">
        <!-- Test HTML -->
        <div class="gpiic-resourceInputPanel"></div>

        <script type="text/javascript">
            var that = gpii.metadata.resourceInputPanel(".gpiic-resourceInputPanel", {
                resources: {
                    template: {
                        url: "../../src/html/resourceInputPanel-template.html"
                    },
                    resourceInput: {
                        url: "../../src/html/resourceInput-template.html"
                    }
                },
                // listeners: {
                //     onReady: function (that) {
                //         that.applier.change("audio", "available");
                //         that.applier.change("dialogue", true);
                //         that.applier.change("audio", "unavailable");
                //     }
                // }
            });
        </script>
    </body>
</html>
