@font-face {
    font-family: 'FloeMetadataIcons';
    src:url('fonts/floe-metadata.eot?#iefix') format('embedded-opentype'),
         url('fonts/floe-metadata.eot'),
         url('fonts/floe-metadata.ttf');
}

.gpii-indent-05 {
    margin-left: 0.5em;
}

.gpii-indent-10 {
    margin-left: 1em;
}

/*
    Metadata indicators
*/

.gpii-circle {
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
    behavior: url(PIE.htc);
    width: 1.8em;
    height: 1.8em;
    display: inline-block;
    background: #249681;
    box-shadow: 0.03em 0.03em 0 #fff;
}

.gpii-circle:before {
    font-family: 'FloeMetadataIcons';
    color: #fff;
    font-size: 1.4em;
    padding-left: 0.2em;
    line-height:1.3em;
}

.gpii-metadataPanel-title {
    text-shadow: 0.03em 0.03em 0 #fff;
}

.gpii-audioPanel .gpii-circle:before  {
    content: "\e607";
}

.gpii-videoPanel .gpii-circle:before  {
    content: "\e606";
}

.gpii-captionsPanel .gpii-circle:before  {
    content: "\e602";
}

.gpii-tooltip {
    position: absolute;
    background: #FFFABB;
    border: 1px solid #C9B857;
    padding: 3px 5px;
    font-family: 'OpenSans-Light';
}
.gpii-available {
    background: #249681;
}
.gpii-unavailable, .gpii-unknown {
    background: #959595;
}

.gpii-videoPanel .gpii-flashing-row{
    display: inline-block;
    margin-top: 0.5em;
}

.gpii-captionsPanel .gpii-captions-list li {
    margin-top: 1em;
}

.gpii-captionsPanel .gpii-captions-list li input {
    width: 100%;
    margin-bottom: 0.5em;
}

.gpii-captionsPanel .gpii-captions-list li:nth-of-type(odd){
    background-color: #d3e3e6;

}

/* Bootstrap override */
ul li label {
    display: inline;
}

ul li {
    margin-bottom: 1em;
}

legend {
    font-size: inherit;
    margin-bottom: 0;
    border: none;
}
