/*
    Metadata indicators
*/
.fl-circle {
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
    behavior: url(PIE.htc);
    width: 1em;
    height: 1em;
    display: inline-block;
    background: #C0C0C0;
}
.fl-tooltip {
    position: absolute;
    background: #FFFABB;
    border: 1px solid #C9B857;
    padding: 3px 5px;
    font: normal sans-serif;
}
.fl-available {
	background: #00FF00;
}
.fl-unavailable, .fl-unknown {
	background: #C0C0C0;
}
