@font-face {
    font-family: 'RobotoSlab';
    src: url('fonts/RobotoSlab-Bold.ttf');
}

/* Overview Panel tweaks - Needed due to FLUID-5464 */

.gpii-demo .fl-overviewPanel-container {
    line-height: 1.6rem;
}

.gpii-demo .fl-overviewPanel h1 {
    font-weight: bold;
    color: #ccc;
    font-family: 'RobotoSlab';
}

.gpii-demo .fl-overviewPanel-instructions h2 {
    color: #fff;
}

.gpii-demo .fl-overviewPanel-instructions .gpii-icon:before {
    font-size: 1rem;
    border-color: #fff;
    padding: 0.25rem;
}
