<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Metadata complete tests runner</title>

    <link rel="stylesheet" href="../../lib/infusion/lib/qunit/css/qunit.css" type="text/css" media="screen">
    <link rel="stylesheet" href="../../lib/infusion/lib/qunit/addons/composite/qunit-composite.css">
    <script src="../../lib/infusion/lib/qunit/js/qunit.js"></script>
    <script src="../../lib/infusion/lib/qunit/addons/composite/qunit-composite.js"></script>

    <script>
    QUnit.testSuites("Metadata Authoring Tests", [
        "./html/audioPanel-Test.html",
        "./html/captionsPanel-Test.html",
        "./html/indicator-Test.html",
        "./html/metadataPanel-Test.html",
        "./html/metadataUtils-Test.html",
        "./html/panel-Test.html",
        "./html/resourceInputPanel-Test.html",
        "./html/transcriptsPanel-Test.html",
        "./html/videoMetadataPanel-Test.html",
        "./html/videoPanel-Test.html"
    ]);
    </script>
</head>
<body>
    <div id="qunit"></div>
    <div id="qunit-fixture">
</div>
</body>
</html>
